/* Estilo para indicar que o cabeçalho é clicável */
table th[data-col] {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-right: 25px !important; /* Espaço para a setinha */
    transition: color 0.1s ease;
}

table th[data-col]:hover {
    color: #f59e0b !important;
}

/* Setas Indicadoras de Direção */
table th[data-col].sort-asc::after {
    content: " ▲";
    color: #f59e0b;
    font-size: 0.7rem;
    position: absolute;
    right: 8px;
}

table th[data-col].sort-desc::after {
    content: " ▼";
    color: #f59e0b;
    font-size: 0.7rem;
    position: absolute;
    right: 8px;
}